@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components{
  .btn-pri{
    @apply   w-1/2 sm:w-auto flex items-center justify-center text-gray-800 font-medium  bg-opacity-0 hover:bg-opacity-30 rounded-lg shadow-sm hover:shadow-lg py-3 px-5 border border-cgray-700 border-opacity-30 transform-gpu hover:-translate-y-0.5 transition-all duration-150 
  }
  .btn-sec{
    @apply bg-cgray-heavy text-white-light rounded-md py-3 px-5 w-full sm:w-auto flex flex-nowrap shadow-md hover:bg-opacity-100 bg-opacity-95  whitespace-nowrap items-center
    hover:shadow-lg hover:-translate-y-0.5 transform-gpu transition-all duration-150 cursor-pointer border border-transparent border-opacity-10;
}
}
.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }

  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }